<%= form_for(current_user, url: profile_path, method: :put) do |f| %>

  <div class="grid grid-cols-6 gap-6">
    <div class="col-span-6 sm:col-span-3">
      <%= f.label "First name", class: "form-label" %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-text", required: true %>
    </div>

    <div class="col-span-6 sm:col-span-3">
      <%= f.label "Last name", class: "form-label" %>
      <%= f.text_field :last_name, autocomplete: "last_name", class: "form-text", required: true %>
    </div>

    <div class="col-span-6 sm:col-span-3">
      <%= f.label "Gender", class: "form-label" %>
      <%= f.select :gender, [
          ["Male",:male],
          ["Female",:female],
          ["Other",:other],
          ["Not specified", :not_specified],
          ],
          {},{class: "form-text form-select"} %>
    </div>
  </div>

  <div class="mt-6 grid grid-cols-6 gap-6">
    <div class="col-span-6 sm:col-span-3">
      <%= f.label "Birthday", class: "form-label" %>
      <div class="date_select_set">
        <%= f.date_select :birthday, {start_year: Date.today.year - 110, end_year: Date.today.year}, {class: "form-text form-select"} %>
      </div>
    </div>
  </div>

  <div class="mt-6">
    <%= f.label "Photo", class: "form-label" %>
    <div class="mt-2 flex items-center">
      <span class="inline-block h-12 w-12 rounded-full overflow-hidden bg-gray-100">
        <%= render partial: 'users/profiles/photo', locals: {u: current_user}  %>
      </span>
      <span class="ml-5">
        <%= f.file_field :photo %>
        </span>
    </div>
  </div>


  <div class="mt-6 grid grid-cols-6 gap-6">
    <div class="col-span-6 sm:col-span-3">
      <%= f.label "Timezone", class: "form-label" %>
      <%= f.time_zone_select :time_zone, nil, {}, class: "form-text form-select" %>
    </div>
  </div>

  <div class="mt-6">
    <%= f.submit %>
  </div>

<% end %>