<div class="row mt-3">
  <div class="col-md-3">
    <div class="card">
      <% if @user.photo.attached? %>
        <%= image_tag @user.photo.variant(resize: "300x300"), class: "card-img-top p-4" %>
      <% else %>
        <svg class="card-img-top p-4" width="280" height="280" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>No user picture</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="50%" y="50%" fill="#dee2e6" dominant-baseline="middle" text-anchor="middle">No picture</text>
        </svg>
      <%- end %>
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text"><%= @user.email %></p>
        <p class="card-text">Sex: <%= @user.gender %></p>
        <p class="card-text">Birthday: <%= @user.birthday %></p>
        <p class="card-text">Timezone: <%= @user.time_zone %></p>
        <p class="card-text">Referral code: <%= @user.referral_code %></p>
        <p class="card-text">Referred by: <%= link_to @user.referred_by.to_s, admin_user_url(id: @user.referred_by) if @user.referred_by %></p>
      </div>
      <% unless @user == current_user %>
        <div class="card-body">
          <%= link_to "Edit", edit_admin_user_path(@user), class: "btn btn-warning btn-sm" %>
          <%= link_to "Delete", [:admin, @user], data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Details</h3>
        <p class="card-text">
        <table class="table table-borderless">
          <tr>
            <td>Confirmed at</td>
            <td><%= @user.confirmed_at %></td>
          </tr>
          <tr>
            <td>Confirmation sent at</td>
            <td><%= @user.confirmation_sent_at %></td>
          </tr>
          <tr>
            <td>Unconfirmed email</td>
            <td><%= @user.unconfirmed_email %></td>
          </tr>
          <tr>
            <td>Sign in count</td>
            <td><%= @user.sign_in_count %></td>
          </tr>
          <tr>
            <td>Current signed in at</td>
            <td><%= @user.current_sign_in_at %></td>
          </tr>
          <tr>
            <td>Current signed in ip address</td>
            <td><%= @user.current_sign_in_ip %></td>
          </tr>
          <tr>
            <td>Last signed in at</td>
            <td><%= @user.last_sign_in_at %></td>
          </tr>
          <tr>
            <td>Last signed in ip address</td>
            <td><%= @user.last_sign_in_ip %></td>
          </tr>
          <tr>
            <td>Failed login attempts</td>
            <td><%= @user.failed_attempts %></td>
          </tr>
          <tr>
            <td>Locked at</td>
            <td><%= @user.locked_at %></td>
          </tr>
        </table>
        </p>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        <h3 class="card-title">Roles</h3>

        <%= form_with(model: nil, url: admin_user_add_role_path(@user), local: true) do |f| %>

          <%= f.label 'Role name', class: "form-label" %>
          <%= f.select :role_name, Role::ALLOWED_GLOBAL_ROLES, {},
                       { class: "form-control" } %>
          <%= f.submit 'Add', class: "btn btn-warning mt-3" %>
        <% end %>

        <table class="table mt-7">
          <thead>
          <tr>
            <td>Role</td>
            <td>Resource</td>
            <td>Actions</td>
          </tr>
          </thead>
          <tbody>
          <% @user.roles.includes([:resource]).order('created_at DESC').each do |role| %>
            <tr>
              <td><%= role.name.titleize %></td>
              <td><%= role.resource %></td>
              <td><%= link_to 'Remove role', admin_user_role_path(@user, role.name), data: {
                confirm: 'Are you sure?' }, method: :delete %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <% unless @user == current_user %>
      <div class="card mt-3">
        <div class="card-body">
          <h3 class="card-title">Ban</h3>

          <% if @user.banned_at %>
            <table class="table table-borderless">
              <tr>
                <td>Banned at</td>
                <td><%= @user.banned_at %></td>
              </tr>
              <tr>
                <td>Ban reason</td>
                <td><%= @user.ban_reason %></td>
              </tr>
            </table>

            <%= button_to "Unban", admin_user_remove_ban_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>

          <% else %>
            <%= form_with(url: admin_user_create_ban_path(user_id: @user.id), method: :post, local: true) do |f| %>
              <%= f.label 'Ban reason', class: "form-label" %>
              <%= f.text_area :ban_reason, placeholder: "Add ban", class: "form-control" %>
              <%= f.submit class: "btn btn-danger mt-3" %>
            <% end %>
          <% end %>

        </div>
      </div>
    <% end %>


  </div>
</div>
