<div class="container form">
  <%= simple_form_for @user, url: profile_path, method: :put do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, autofocus: true, autocomplete: "first_name", label: t('users.profile.first_name') %>
      <%= f.input :last_name, autocomplete: "last_name", label: t('users.profile.last_name') %>
      <%= f.input :gender, collection: [
        [t('users.profile.genders.male'),:male],
        [t('users.profile.genders.female'),:female],
        [t('users.profile.genders.other'),:other],
        [t('users.profile.genders.not_specified'), :not_specified],
      ], label_method: :first, value_method: :second, label: t('users.profile.gender'), include_blank: false %>

      <%= f.input :birthday, as: :date, start_year: Date.today.year - 90,
                  end_year: Date.today.year - 12,
                  order: [:day, :month, :year], label: t('users.profile.birthday') %>
      <%= f.input :photo, label: t('users.profile.photo') %>
      <%= f.input :time_zone, label: t('users.profile.timezone') %>
    </div>

    <div class="actions mt-3">
      <%= f.button :submit, label: t('users.profiles.submit_update'), class: "btn btn-primary" %>
    </div>

  <% end %>

</div>
